@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.footer-contacts {
  width: 720px;
  margin-left: 256px;
}

.page-copyright {
  margin-right: 75px;
}

.page-copyright-image {
  display: block;
}

.social-list {
  width: 70px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-left: 72px;
}

.social-list-image {
  display: block;
}


.main-logo-image {
  display: block;
}

.main-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.main-navigation-item {
  margin-right: 33px;
}

.main-navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.user-navigation-here {
  width: 160px;
  height: 37px;
}

.navigation-here-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756257;
  border-radius: 4px;
  padding: 10px 34px;
}

.wellcome-image {
  display: block;
  margin: 0 auto;
}

.hotel-search-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background: #756257;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 151px;
}

.cards-link-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.button-cards {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 15px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: inherit;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-cards-type {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.hotel-cards-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.hotel-cards-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  padding: 10px;
  text-transform: uppercase;
}

.hotel-cards-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  height: 37px;
  border: none;
}



.features-wrapper {
  display: flex;
}

.features-text-color {
  background-color: #83b3d3;
}

.features-image-city {
  display: block;
}

.features-image-bridge {
  display: block;
}

.features-header {
  width: 720px;
  margin: 0 auto;
}

.features-header p {
  text-align: center;
}

.features-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  width: 720px;
  height: 80px;
}

.features-intro {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
  width: 720px;
  height: 37px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-main-intro {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/page-main-intro-background.jpg");
  width: 1200px;
  height: 352px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-subscribe {
  background-image: url("../images/subscribe-background.jpg");
  width: 1200px;
  height: 411px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
}

.catalog-filter {
  padding-left: 71px;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.button-enter {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  width: 160px;
  height: 48px;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  border: none;
  color: #ffffff;
  width: 160px;
  height: 23px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.background-wrapper {
  background-image: url("../images/catalog-background.jpg");
  width: 1200px;
  height: 408px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  margin-bottom: 44px;
}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  padding-left: 71px;
  padding-top: 35px;
  margin-bottom: 5px;
}

.breadcrumbs-list-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 111px;
}

.hotels-found {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.select-control {
  width: 247px;
  height: 48px;
  padding: 12px 19px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-control option {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.catalog-filter-input {
  font-family: "PT sans", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  width: 144px;
  height: 48px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}


.hotel-cards-item h3 {
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  color: #000000;
}

.download-button {
  font-family: "PT sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  width: 625px;
  height: 55px;
  margin-bottom: 61px;
}

.main-navigation-list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  width: 420px;
}

.user-navigation {
  width: 290px;
  list-style: none;
  padding: 0;
  margin-left: auto;
}

.features-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-item:nth-child(1) {
  width: 1200px;
}

.features-item:nth-child(2) {
  width: 1200px;
}

.features-image {
  display: block;
}

.features-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.features-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.features-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.features-item {
  width: 400px;
}

.advice-item {
  height: 384px;
  width: 400px;
}


.features-item-color h3 {
  color: #ffffff;
}

.features-item-color p {
  color: #ffffff;
}

.advice-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}


.advice-item h3 {
  color: #000000;
}

.advice-item p {
  color: #333333;
}

.hotel-search {
  text-align: center;
  margin-bottom: 91px;
}

.hotel-accent {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.hotel-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.subscribe {
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-form-input {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  width: 600px;
  height: 60px;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 21px;
}

:default::placeholder {
  background: #f2f2f2;
  opacity: 0.6;
}

:focus::placeholder {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
  opacity: 0.6;
}

:active::placeholder {
  background: #ffffff;
  box-sizing: border-box;
  border: 2px solid #000000;
}

:hover::placeholder {
  background: #e6e6e6;
  opacity: 0.6;
}

:invalid::placeholder {
  background: #ffffff;
  border: 2px solid #ff5757;
  box-sizing: border-box;
  opacity: 0.6;
}

.main-subscribe-form button {
  color: #ffffff;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 0 10px 10px 0;
  width: 200px;
  height: 61px;
}

.breadcrumbs-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-cards-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item {
  width: 55px;
  height: 55px;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  background-color: #83b3d3;
}

.pagination-quantity-label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin-right: 51px;
}

.pagination-quantity-select {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  padding: 12px 17px;
  width: 160px;
  height: 48px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}
