@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #000000;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.sorting-form {
  min-width: 287px;
  margin-top: 44px;
}

.hotels-found {
  min-width: 350px;
  margin-top: 48px;
  margin-bottom: 45px;
  margin-right: auto;
}

.hotel-cards-container {
 width: 1057px;
 margin: 0 auto;
 display: flex;
}

.sorting-container {
  width: 1057px;
  margin: 0 auto;
  display: flex;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.page-copyright {
  margin-right: 75px;
  margin-top: 42px;
}

.page-copyright-link {
  display: block;
  padding: 20px 10px;
}

.page-copyright-image {
  display: block;
}

.footer-social {
  max-width: 230px;
  margin-left: 72px;
  margin-top: 50px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.social-list-item {
  padding-right: 30px;
  margin-bottom: 8px;
}

.social-list-item:nth-child(3n) {
  margin-right: 0;
}

.social-list-link {
  display: block;
}

.social-list-image {
  display: block;
}

.logo {
  width:138px;
  margin-right: 198px;
}

.main-logo-link {
  display: block;
}

.main-logo-image {
  display: block;
}

.main-navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.main-navigation-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  padding: 20px 15px;
}

.user-navigation-link {
  display: block;
  padding: 20px 15px;
}

.user-navigation-link-search {
  width: 18px;
  min-height: 18px;
}

.user-navigation-link-favorites {
  width: 32px;
  min-height: 27px;
}

.user-navigation-link-here {
  width: 160px;
  min-height: 37px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756257;
  border-radius: 4px;
  padding: 10px 34px;
}

.wellcome-image {
  display: block;
  margin: 0 auto;
}

.hotel-search-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background: #756257;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 151px;
}

.cards-link-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.button-cards {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 15px;
}

.contacts-phone {
  display: block;
  padding: 20px 10px;
  font-size: 40px;
  line-height: 40px;
  font-weight: inherit;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contacts {
  margin-top: 40px;
  width: 360px;
}

.hotel-cards-type {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.hotel-cards-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.hotel-cards-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  padding: 10px;
  text-transform: uppercase;
}

.hotel-cards-stars {
  display: flex;
  justify-self: end;
}

.hotel-cards-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding: 10px 30px;
}

.features-wrapper {
  display: flex;
}

.features-text-color {
  background-color: #83b3d3;
}

.features-image-city {
  display: block;
}

.features-image-bridge {
  display: block;
}

.features-header {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 79px;
}

.features-header p {
  text-align: center;
}

.features-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  width: 720px;
  height: 80px;
  margin-bottom: 25px;
}

.features-intro {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
  width: 720px;
  height: 37px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-main-intro {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/page-main-intro-background.jpg");
  width: 1200px;
  height: 352px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: 61px;
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  background-image: url("../images/subscribe-background.jpg");
  width: 1200px;
  min-height: 411px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  margin: 0 71px;
}

.catalog-filter-group {
  border: none;
  width: 170px;
}

.catalog-filter-price {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
}

.range-button-wrapper {
  width: 287px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.button-enter {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  padding: 18px 35px;
  margin-bottom: 20px;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background: inherit;
  text-align: center;
  border: none;
  color: #ffffff;
  padding: 18px 35px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.control-input {
 box-sizing: border-box;
 width: 20px;
 height: 20px;
}

.background-wrapper {
  background-image: url("../images/catalog-background.jpg");
  min-height: 408px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
}

.inner-header {
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin-left: 71px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.breadcrumbs-list-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-left: 111px;
  margin-right: 26px;
}

.hotels-found {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
}

.select-control {
  width: 247px;
  height: 48px;
  padding: 12px 19px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-control option {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.catalog-filter-input {
  display: flex;
  font-family: "PT sans", sans-serif;
  font-style: normal;
  color: #ffffff;
  background: inherit;
  font-size: 18px;
  line-height: 23px;
  width: 145px;
  height: 48px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-filter-input::placeholder {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: right;
  color: #ffffff;
  opacity: 0.3;
}

.catalog-filter-input:hover::placeholder {
  border: 2px solid #ffffff;
  border-radius: 4px 0px 0px 4px;
  box-sizing: border-box;
  opacity: 0.6;
  position: absolute;
  width: 145px;
  height: 48px;
}

.catalog-filter-input:focus::placeholder {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 4px 0px 0px 4px;
  position: absolute;
  width: 145px;
  height: 48px;
}

.catalog-filter-input:active::placeholder {
  background: #756257;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px 0px 0px 4px;
  position: absolute;
  width: 145px;
  height: 48px;
}

.hotel-cards-item h3 {
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  color: #000000;
}

.download-button-inner {
  margin-bottom: 61px;
}

.download-button {
  font-family: "PT sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  padding: 20px 240px;
  display: flex;
  margin: 0 auto;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  width: 500px;
  margin-left: 71px;
}

.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  list-style: none;
  padding: 0;
  margin-right: 71px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 91px;
}

.features-item:nth-child(1) {
  width: 1200px;
}

.features-item:nth-child(2) {
  width: 1200px;
}

.features-image {
  display: block;
}

.features-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 97px;
  margin-bottom: 26px;
}

.advice-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 184px;
  margin-bottom: 26px;
}

.advice-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 79px;
}

.features-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 26px;
}

.features-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 77px;
}

.features-item {
  width: 400px;
}

.advice-item {
  height: 384px;
  width: 400px;
}


.features-item-color h3 {
  color: #ffffff;
}

.features-item-color p {
  color: #ffffff;
}

.advice-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advice-item h3 {
  color: #000000;
}

.advice-item p {
  color: #333333;
}

.hotel-search {
  text-align: center;
  margin-bottom: 91px;
}

.hotel-accent {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;
}

.hotel-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 73px;
}

.subscribe {
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 71px;
  margin-bottom: 15px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 26px;
}

.subscribe-form {
  display: flex;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 94px;
}

.subscribe-form-input {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  width: 600px;
  height: 60px;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 21px;
  box-sizing: border-box;
}

:default::placeholder {
  background: #f2f2f2;
  opacity: 0.6;
}

:focus::placeholder {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
  opacity: 0.6;
}

:active::placeholder {
  background: #ffffff;
  box-sizing: border-box;
  border: 2px solid #000000;
}

:hover::placeholder {
  background: #e6e6e6;
  opacity: 0.6;
}

:invalid::placeholder {
  background: #ffffff;
  border: 2px solid #ff5757;
  box-sizing: border-box;
  opacity: 0.6;
}

.main-subscribe-form button {
  color: #ffffff;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 18px 35px;
}

.catalog-filter-wrapper {
  width: 1057px;
  display: flex;
  justify-content: space-between;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-list-item {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.hotel-cards-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-container {
  display: flex;
  width: 1057px;
  margin: 0 auto;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 15px;
  background-color: #83b3d3;
}

.pagination-quantity {
 margin-left: auto;
}

.pagination-quantity-label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin-right: 51px;
}

.pagination-quantity-select {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  padding: 12px 17px;
  width: 160px;
  height: 48px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}
